.square {

  height: 350px;
  width: 350px;
  padding: 10px;
  background-color: #03d7fc;
   border: 0px solid #555;
   border-radius: 25px;
}

.square-small {
  
  display: inline;
  height: 10px;
  width: 10px;
  border: 0px solid #e9e8eb;
  border-radius: 25px;
}